<div id="map">
    <div id="options" class="hidden leaflet-top leaflet-right">
        <h3>Line Mode</h3>
        <mat-radio-group aria-label="Line Mode" [(ngModel)]="lineMode">
            <mat-radio-button id="auto" value="0">Auto route</mat-radio-button>
            <mat-radio-button id="snap" value="1">Snap to road</mat-radio-button>
            <mat-radio-button id="free" value="2">Freeform</mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button color="primary" id="remove-markers" (click)="clearMarkers()">
            Remove Markers
        </button>
    </div>
</div>
