app-interactive-map {
    width: 100%;
    height: 100%;
}

app-difficulty {
    width: 100%;
    height: 100%;
    padding: 10px;
}

app-topo-graph {
    width: 100%;
    height: 100%;
    padding: 10px;
}

app-bottom-bar {
    height: var(--bar-thickness);
    width: 100%;
    display: inline-block;
}

app-top-bar {
    height: var(--bar-thickness);
    width: 100%;
    display: inline-block;
}

#bodyGrid {
    height: calc(100% - 2 * var(--bar-thickness));
    width: 100%;
}
