@import "~leaflet/dist/leaflet.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --bar-thickness: 7%;
}

a {
    text-decoration: none;
}

/* https://github.com/perliedman/leaflet-routing-machine/issues/20 */
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Force toolbars to fill parent container */
.mat-toolbar-single-row {
    height: 100% !important;
    width: 100% !important;
}

