@import "~leaflet/dist/leaflet.css";

* {
    font-family: Roboto;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* https://github.com/perliedman/leaflet-routing-machine/issues/20 */
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.hidden {
    display: none !important;
}